# Game settings
set player_speed = 7;
{
    game_title -> "Amazing Game".
    player_data -> {
        speed -> $[player_speed].
        health -> 100.
    }.
    items -> array("sword", "potion", "shield").
     level_data -> {
         level -> 1.
         enemies -> array("monster", "orc").

     }
}